<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/icon" href="{% static 'images/icon.png' %}" style="border-radius: 0.75rem;">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="login-wrapper">
        <div class="login-image">
             <h1>Human Detector</h1>
            <p>Advanced AI-driven Human detection </p> 
        </div>
        <div class="login-form">
            <h2>Forgot Password</h2>
            <p class="mb-4">Enter your email address and we'll send you a link to reset your password.</p>
            
            {% if messages %}
            <div class="alert alert-info">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
            {% endif %}
            
            <form method="post">
                {% csrf_token %}
                {{ form.email }}
                <button type="submit" class="btn-login w-100 mt-3">Send Reset Link</button>
            </form>
            <div class="back-to-login mt-3">
                <a href="{% url 'log' %}" style="text-decoration:none;"><i class="fas fa-arrow-left me-2"></i>Back to Login</a>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
